.navbarContainer {
  position: fixed;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  padding-left: 550px;
  padding-right: 550px;
  padding-bottom: 30px;
  background-color: #fbfeffb0;
  z-index: 10;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

@media screen and (max-width: 768px) {
  .navbarContainer {
    flex-direction: column;
  }
}

[data-theme="dark"] .navbarContainer {
  background-color: #111414b0;
}

.headerName {
  color: #3f5055;
  font-size: 28px;
}

.headerName:hover {
  color: #3f5055;
  text-decoration: none;
}

[data-theme="dark"] .headerName {
  color: #e2f2f6;
}

.menuContainer {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  justify-content: space-evenly;
  width: 250px;
  align-items: center;
}

.menuItem {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menuItemLink {
  font-weight: 500;
  color: #3f5055;
}

.menuItemLink:hover {
  color: #3f5055;
}

[data-theme="dark"] .menuItemLink {
  color: #e2f2f6;
}

.menuItemLink:hover {
  text-decoration: none;
}

[data-theme="dark"] .menuItemLink {
  color: #e2f2f6;
}

@media screen and (max-width: 1200px) {
  .navbarContainer {
    padding-left: 25px;
    padding-right: 25px;
  }
}
